# This file is provided in for possible issues when install.sh file does not create a conda environment for unknown reasons.

# Create an environment using:
# conda create --name snakemake-name -c bioconda --file <this file>

python=3.5.3
snakemake=4.8.0
fastqc=0.11.7
seqkit
seqtk=1.2-r102
