process {
    executor="slurm"
    queue="batch"
    time="144h"
    clusterOptions="--account asbhatt"
}

singularity {
    enabled = true
    autoMounts = true
    engineOptions = "-v"
    runOptions = "--bind /oak/stanford/scg/lab_asbhatt/cosn,/oak/stanford/scg/lab_asbhatt/mpgriesh:/oak/stanford/scg/lab_asbhatt/mpgriesh:ro"
}
